#div1{
    width:100vw;
    height:30vh;
    /*border:1px solid black;*/
    background-image:linear-gradient(90deg,pink 40%,cyan);
}
h1{
    text-align:center;
    color:white;
    letter-spacing:4px;
    position: relative;
    font-weight:900 ;
    font-size:3rem;
    padding-top:20px;
  }
#count{
    position: absolute;
    left:10%;
    font-weight:900 ;
    top:19%;
    width:10%;
    height:5%;
   font-size:1rem;
    border:none;
  
    outline: none;

}
#enter{
    position: absolute;
    right:5%;
    top:19%;
    padding:5px;
    font-weight: bold;

}
#div2{
    width:75vw;
    background-color:black;
    height:30vh;
    margin-top:30px;
    position:relative;
    left:12.5%;
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
}


#div3{
  height:30%;
  width:8%;
  overflow: hidden;
  position:relative;
  margin-left:2%;
  
}
.next {
   position: absolute;
   height:100%;
  width:100%;
   top:100%;
  margin:1px;
     font-size:40px;
   text-align: center;
   font-weight: bold;
   background-color:whitesmoke;
   border-top:2px solid black;
}
#div4{
    height:30%;
  width:8%;
  overflow: hidden;
  position:relative;
  margin-left:2%;
 
}

.curr,.curr2,.curr3,.curr4,.curr5{
   height:100%;
  width:100%;
     background-color:whitesmoke;
     margin-top:1px;
     font-size:40px;
   text-align: center;
   font-weight: bold;
border:2px solid black;

}
.next2 {
   position: absolute;
   height:100%;
  width:100%;
   top:100%;
  margin:1px;
     font-size:40px;
   text-align: center;
   font-weight: bold;
   background-color:whitesmoke;
   border-top:2px solid black;
}
#div5{
    height:30%;
  width:8%;
  overflow: hidden;
  position:relative;
  margin-left:2%;
 
}
.next3 {
   position: absolute;
   height:100%;
  width:100%;
   top:100%;
  margin:1px;
     font-size:40px;
   text-align: center;
   font-weight: bold;
   background-color:whitesmoke;
   border-top:2px solid black;
}
#div6{
    height:30%;
  width:8%;
  overflow: hidden;
  position:relative;
  margin-left:2%;
}
.next4 {
   position: absolute;
   height:100%;
  width:100%;
   top:100%;
  margin:1px;
     font-size:40px;
   text-align: center;
   font-weight: bold;
   background-color:whitesmoke;
   border-top:2px solid black;
}

#div7{
    height:30%;
  width:8%;
  overflow: hidden;
  position:relative;
  /*margin-left:5%;*/
}
.next5 {
   position: absolute;
   height:100%;
  width:100%;
   top:100%;
  margin:1px;
     font-size:40px;
   text-align: center;
   font-weight: bold;
   background-color:whitesmoke;
   border-top:2px solid black;
}
.trans{
  transition:all 0.5s;
  top:0%;
}

@media screen and (max-width:800px)
{
  #div3,#div4,#div5,#div6,#div7{
    width:10%;
    height:32%;
  }
  h1{
    font-size:2rem;
  }
}
@media screen and (max-width:520px)
{
  #div3,#div4,#div5,#div6,#div7{
    width:10%;
    height:30%;

  }
   h1{
    font-size:1.5rem;
  }
 #count{
  font-size:0.75rem; 
 }

}
body{
  background-color: rgb(213, 242, 243);
}